h1, h2, h3, h4, h5 {
    font-weight: 300;
}

a{
    font-weight: 400;
}

p, li {
    font-size: 18px;
}

.fa-heart {
    color: #880e4f;
}

.fa-star, .fa-star-half-o{
    color: #000;
 }

.sr-only{
    display: none;
}

.fa-trash-o{
    color: red;
}

#test{
    font-size: 30px;
}

.code-inline {
    background-color: #eeeeee ;
    color: black;
}
.passTop {
    color: #008500;
    font-size: 24px;
    margin-left: 75%;
}

.failTop {
    color: #cc0000;
    font-size: 24px;
    margin-left: 75%;
}

.pass {
    color: #008500;
    font-size: 24px;
}

.fail {
    color: #cc0000;
    font-size: 24px;
}

.paragraph{
    font-size: 18px;
    font-weight: 300;
}

.menuButton{
    float: right;
}

.section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.submitButton{
    margin-left: 60%;
    margin-top: 20px;
}

/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #880e4f !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #880e4f !important;
 box-shadow: 0 1px 0 0 #880e4f !important;
}
/* valid color */
.input-field input[type=text].valid , .input-field input[type=email].valid {
 border-bottom: 1px solid #008500;
 box-shadow: 0 1px 0 0 #008500;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid {
 border-bottom: 1px solid #cc0000;
 box-shadow: 0 1px 0 0 #cc0000;
}
input[type=email]:not(.browser-default).invalid+label:after, input[type=text]:not(.browser-default).invalid+label:after, input[type=email]:not(.browser-default):focus.invalid+label:after, input[type=text]:not(.browser-default):focus.invalid+label:after{
    content: attr(data-error);
    color: #cc0000;
    opacity: 1;
}

input[type=email]:not(.browser-default).valid+label:after, input[type=email]:not(.browser-default):focus.valid+label:after, input[type=text]:not(.browser-default).valid+label:after, input[type=text]:not(.browser-default):focus.valid+label:after{
    content: attr(data-success);
    color: #008500;
    opacity: 1;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
    background-color: #880e4f;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
    border: 2px solid #880e4f;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
